# Backend FastAPI Base URL
EXPO_PUBLIC_API_URL=http://localhost:8000/api/v1

# RevenueCat Public SDK API Keys
EXPO_PUBLIC_REVENUECAT_IOS=appl_mock_key_for_mishil
EXPO_PUBLIC_REVENUECAT_ANDROID=goog_mock_key_for_mishil
